.list {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 130px);
  margin-top: 30px;
}

.pokemon {
  text-transform: capitalize;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  width: 130px;
  display: flex;
  justify-content: center;
}
